{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-8 text-center text-orange-900">الدردشات</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for chat in chats %}
            <div class="bg-white shadow-md rounded-lg p-6 hover:shadow-lg transition duration-300 border border-gray-200">
                <div class="flex items-center justify-between mb-4">
                    <h2 class="text-xl font-semibold text-gray-800">
                        {% if user.account.user_type == 'Customer' %}
                            {{ chat.freelancer.user.first_name }} {{ chat.freelancer.user.last_name }}
                        {% else %}
                            {{ chat.user.first_name }} {{ chat.user.last_name }}
                        {% endif %}
                    </h2>
                    <span class="text-sm text-gray-500">
                        {% with last_message=chat.message_set.last %}
                            {% if last_message %}
                                {{ last_message.timestamp|date:"j F Y" }}
                            {% endif %}
                        {% endwith %}
                    </span>
                </div>
                <p class="text-gray-600 mb-4 h-12 overflow-hidden">
                    {% with last_message=chat.message_set.last %}
                        {% if last_message %}
                            {{ last_message.content|truncatechars:50 }}
                        {% else %}
                            لا توجد رسائل بعد
                        {% endif %}
                    {% endwith %}
                </p>
                <a href="{% url 'chat:get_chat' chat.id %}" class="block w-full text-center bg-orange-500 text-white py-2 px-4 rounded-md hover:bg-orange-600 transition duration-300">فتح الدردشة</a>
            </div>
        {% empty %}
            <div class="col-span-3 text-center py-12">
                <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
                </svg>
                <h3 class="mt-2 text-sm font-medium text-gray-900">لا توجد دردشات</h3>
                <p class="mt-1 text-sm text-gray-500">ابدأ محادثة جديدة للتواصل مع الآخرين.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
