{% extends "main/base.html" %}

{% block title %}تحرير معلومات مزود الخدمة{% endblock %}

{% block content %}

{% if messages %}
    <div class="container mx-auto px-4 py-8">
        <div class="bg-white rounded-lg shadow-md p-6">
            {% for message in messages %}
                <div class="bg-{{ message.tags }}-100 border-t-4 border-{{ message.tags }}-500 rounded-b text-{{ message.tags }}-900 px-4 py-3 shadow-md mb-4" role="alert">
                    <div class="flex">
                        <div>
                            <p class="font-bold text-orange-700">{{ message.tags }}</p>
                            <p class="text-sm  text-orange-700">{{ message }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="bg-gray-100 min-h-screen" dir="rtl">
    <div class="container mx-auto px-4 py-8">
        <div class="bg-white rounded-lg shadow-md p-6">
            <h2 class="text-2xl font-bold text-orange-700 mb-6">تحرير معلومات مزود الخدمة</h2>
            <form action="{% url 'analytics:edit_freelancer_profile' freelancer.pk %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                    <div>
                        <label for="is_verified" class="block text-sm font-medium text-gray-700">تأكيد الحساب</label>
                        <select id="is_verified" name="is_verified" class="text-black mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md text-sm shadow-sm focus:outline-none focus:border-orange-500 focus:ring-1 focus:ring-orange-500 transition duration-300 text-right" required>
                            <option value="True" {% if freelancer.is_verified %}selected{% endif %}>True</option>
                            <option value="False" {% if not freelancer.is_verified %}selected{% endif %}>False</option>
                        </select>
                    </div>
                    <div>
                        <label for="certificate_expiration" class="block text-sm font-medium text-gray-700">تاريخ انتهاء الشهادة</label>
                        <input type="date" id="certificate_expiration" name="certificate_expiration" class="text-black mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md text-sm shadow-sm focus:outline-none focus:border-orange-500 focus:ring-1 focus:ring-orange-500 transition duration-300 text-right" required>
                    </div>
                </div>


                <div class="mt-12 text-center">
                    <button type="submit" class="inline-flex justify-center py-2 px-16 border border-transparent shadow-sm text-sm font-medium rounded-md text-white text-center bg-orange-600 hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500">
                        تعديل
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
