{% extends "main/base.html" %}

{% block title %}All Tickets{% endblock %}

{% block content %}
    <h1 style="text-align: center; font-size: 2rem; margin-bottom: 1.5rem;">All Tickets</h1>

    <table style="width: 100%; border-collapse: collapse;" class="text-center">
        <thead>
            <tr>
                <th style="border: 1px solid #ddd; padding: 0.5rem;" class="text-center">ID</th>
                <th style="border: 1px solid #ddd; padding: 0.5rem;" class="text-center">Title</th>
                <th style="border: 1px solid #ddd; padding: 0.5rem;" class="text-center">Category</th>
                <th style="border: 1px solid #ddd; padding: 0.5rem;" class="text-center">Status</th>
                <th style="border: 1px solid #ddd; padding: 0.5rem;" class="text-center">Created</th>
                <th style="border: 1px solid #ddd; padding: 0.5rem;" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td style="border: 1px solid #ddd; padding: 0.5rem;" class="text-center">{{ ticket.id }}</td>
                    <td style="border: 1px solid #ddd; padding: 0.5rem;" class="text-center">{{ ticket.ticket_title }}</td>
                    <td style="border: 1px solid #ddd; padding: 0.5rem;" class="text-center">{{ ticket.get_ticket_category_display }}</td>
                    <td style="border: 1px solid #ddd; padding: 0.5rem;" class="text-center">
                        <div class="border border-gray-300 p-2 {% if ticket.ticket_status == 'open' %}bg-green-400 text-black rounded-full text-center {% elif ticket.ticket_status == 'closed' %}bg-green-400 text-black rounded-full{% elif ticket.ticket_status == 'in_progress' %}bg-red-400  text-black rounded-full text-center{% else %} bg-yellow-400 text-black rounded-full text-center {% endif %}">
                            {{ ticket.get_ticket_status_display }}
                        <!--get_ _display to display the value not the key , readable status for the user \ abdullah -->
                        </div>
                    </td>
                    

                    <td style="border: 1px solid #ddd; padding: 0.5rem;" class="text-center">{{ ticket.ticket_created_at }}</td>
                    <td style="border: 1px solid #ddd; padding: 0.5rem;" class="text-center">
                        <a href="{% url 'support:ticket_detail' ticket.pk %}" style="color: green; text-decoration: none; margin-right: 0.5rem;" class="text-cener">View</a>
                        {% if request.user.is_superuser %}
                        <a href="" style="color: red; text-decoration: none; margin-right: 0.5rem;" class="text-cener">
                            Delete
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}